.corpo{
    margin-left: 20%;
    padding: 70px;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 884px;
    height: 1440px;  
    border-radius:0.2cm;    
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    color:#2F3035;    
    background-color:#809DD6
}

.titulo{
    position: relative;
    top: 2px;
    text-align:center;
    font-size: 30px;
    margin-top: 0%;
    padding-top: 0%;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    color:#2F3035;
}

.texto{
    font-size: 25px;
    text-align:justify;
    position:absolute;    
    width: 820px;
    padding-top: 30px;
   
    font-family:'Trebuchet MS', sans-serif;
    color: #2F3035;     
}

.paragrafo{
    text-indent:2em 
}

.assinatura{
    text-align: end;
}

.botao{
    text-align:justify;
    background-color: #5870ea83;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%; 
    width: 150px; 
}

.voltar{
    
    text-decoration: none;    
    user-select:auto;
    color: #000310;
}

