body{
    margin: 0%;   
}

head{
    margin: 0%;
}

h2{
    font-size:28px;
}

h3{
    font-size: 15px;
}

.nome{
    margin-left: 20%;
    position: absolute;
    width: 884px;
    height: 124px;
    text-align:center;
    font-size: 25px;
    padding: 70px;
    border-radius:0.3cm;    
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    color:#2F3035;    
    background-color:#809DD6;    
}

.barra-esquerda{
    margin-left: 20%;
    position:absolute;
    top:280px;
    width: 270px;
    height: 1300px;
    padding: 30px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: #2F3035;
    background-color: #809DD6;
    border-radius:0.3cm;
}

.caixafoto{
    position: relative;
        
    text-align: center;
}

.foto{
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(20, 21, 26);
}

.barra-direita{
    margin-left: 20%;
    position: absolute;
    top: 280px;
    left: 346px;
    width: 618px;
    height: 1300px;
    padding: 30px; 
    border-radius:0.3cm;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: #2F3035;
    background-color:#BACEF5
}

.apresentaçao{
    
}

.botao{
    position:relative;
    margin-left: 35px;
    text-align:center;
    width: 200px;
}

.apresentaçao{
    background-color:#5870ea83;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-decoration: none;
    color: #000310;
    user-select: none;
    cursor: pointer;
}

.linkedin{
    background-color:#5870ea83;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-decoration: none;
    color: #000310;     
    user-select: none;
    cursor: pointer;      
}

.github{
    background-color:#5870ea83;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-decoration: none;
    color: #000310;     
    user-select: none;
    cursor: pointer;   
}

.instagram{
    background-color:#5870ea83;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-decoration: none;
    color: #000310;     
    user-select: none;
    cursor: pointer;
}

.linhas{
    line-height:2px;
}
